# Entorno Virtual
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# MkDocs (Solo si no quieres subir el sitio construido)
site/

# IDEs
.vscode/
.idea/

# Desarrollos locales
constructor/

# Templates desarrollo
templates/
